.card {
  margin-bottom: 20px;
}

.card-body {
  background-color: rgba(33, 37, 41, 0.05);
}

.card-text {
  margin-top: 10px;
}

.card-extras {
  margin-right: 16px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-buttons .button-primary {
  margin-right: 10px;
}

.card-body .fa {
  font-size: 28px;
  color: rgba(33, 37, 41, 0.8);
}

.card-body .fa-calendar-check-o {
  font-size: 16px;
  margin-right: 8px;
}

.card-votes .fa:hover {
  cursor: pointer;
}

.card-buttons .card-votes {
  display: flex;
}

.card-buttons .card-vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-vote:first-child {
  margin-right: 14px;
}

.card-vote span {
  display: block;
  min-width: 16px;
}

.card-vote span:first-child {
  margin-right: 4px;
}

.card .line-container {
  height: 36px;
  width: 100%;
  clear: both;
  padding-top: 12px;
}

.collapse .card-link {
  font-size: 14px;
  color: #841983;
  border-bottom: 1px solid transparent;
}

.collapse .card-link:hover {
  font-weight: 700;
}

.up-vote-active {
  color: seagreen !important;
}

.down-vote-active {
  color: crimson !important;
}

@media (max-width: 480px) {
  .card-body {
    padding: 10px;
  }

  .card-buttons {
    flex-direction: column;
    align-items: center;
  }

  .card-buttons .card-votes {
    margin-top: 16px;
  }
}
