.card-text {
  margin-top: 10px;
}

.card-text span {
  display: block;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-buttons .card-votes {
  display: flex;
}

.card-buttons .card-vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-buttons .up, .card-buttons .down {
  color: gray;
}

.card .line-container {
  height: 45px;
  width: 100%;
  clear: both;
  padding-top: 20px;
}
