/* Global styles */
body {
  font-family: 'Quicksand', sans-serif;
}

/* Offset the height of the fixed navbar */
main {
  margin-top: 56px;
}

.carousel {
  width: 100%;
  margin:0;
}

.indexBar {
    border-bottom:10px solid grey;
    margin:0 auto;
    text-align: center;
}
