/* Global styles */
body {
  font-family: 'Quicksand', sans-serif;
}

/* Offset the height of the fixed navbar */
main {
  margin-top: 56px;
  padding-top: 40px;
}

hr.line-style {
  border: 0;
  height: 4px;
  border-top: 2px solid rgba(74, 74, 74, 0.5);
}

button {
  cursor: pointer !important;
  border: none !important;
}

button:hover {
  border: none !important;
}

.button-primary {
  background-color: #841983;
  transition: background-color 0.3s ease-out;
}

.button-primary:active {
  background-color: #841983 !important;
}

.button-primary:hover, .button-primary:focus {
  background-color: #9a4299;
}

.button-delete {
  background-color: #841983;
  transition: background-color 0.3s ease-out;
}

.button-delete:hover, .button-delete:focus {
  background-color: #e23e5f;
}

.button-delete:active {
  background-color: #Dc143c !important;
}

.close:hover {
  background-color: inherit;
}

.btn-social {
  transition: all 0.3s ease-out !important;
}

.btn-social:hover {
  transform: scale(1.07) !important;
}

.btn-facebook, .btn-facebook:hover {
  background-color: #3b5998;
}

.btn-google, .btn-google:hover {
  background-color: #db4437;
}

.btn-twitter, .btn-twitter:hover {
  background-color: #1da1f2;
}

.text-success {
  color: #637f33;
}

.section-title, .section-subtitle {
  margin-bottom: 20px;
}

.section-subtitle {
  margin-top: 40px;
}

#search-form .button-primary {
  margin-top: 10px;
  margin-bottom: 4px;
}
