
/*.profileCard {
    margin-bottom: 15px;
    border: 1px solid #cecece;
}*/

.profileCard {
  display:block;
  margin:auto;
}

.avatarImg {
  display:block;
  margin:auto;
}

.userName {
  color: #637f33;
}

.eventsInput {
     color: #841983;
}


