.info-bar {
  margin: 80px auto;
}

.info {
  color: #4a4a4a;
  text-align: center;
}

.info div[class^='col'] {
  padding: 20px;
}

.info .fa {
  font-size: 42px;
  color: #841983;
  margin: 20px 0;
}

.info h3 {
  text-decoration: underline;
}

.info p {
  font-size: 18px;
}

hr.line-style {
  border: 0;
  height: 4px;
  border-top: 2px solid rgba(74, 74, 74, 0.5);
}
