/* Profile Events CSS*/

.card {
  margin-bottom: 0px;
}

.card-text {
  margin-top: 10px;
}

.card-extras {
  font-size: 20px;
  margin-right: 10px;
}

.card-buttons  {
  display: flex;
  justify-content: space-between;
}

.card .fa {
  color: rgba(33, 37, 41, 0.7);
}

.card-buttons .card-votes {
  display: flex;
}

.card-buttons .card-vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
 .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.card-vote:first-child {
  margin-right: 14px;
}

.card-vote span {
  display: block;
}

.card-vote span:first-child {
  margin-right: 4px;
}

.card .line-container {
  height: 45px;
  width: 100%;
  clear: both;
  padding-top: 20px;
}

.collapse .card-link {
  font-size: 14px;;
  color: #841983;
  border-bottom: 1px solid transparent;
  transition: background-color 0.4s ease-in-out;
}

.collapse .card-link:hover {
  background-color: rgba(33, 37, 41, 0.2);;
}

.up-vote-active {
  color: green !important;
}

.down-vote-active {
  color: red !important;
}