footer {
  color: #4a4a4a;
  background-color: #789b3e;
  padding-top: 20px;
}

footer h5 {
  padding-top: 20px;
}

footer a {
  display: block;
}

.footer-links {
  padding-bottom: 40px;
}

.footer-copyright {
  font-weight: 700;
  background-color: #637f33;
  padding: 20px 0;
}

@media only screen and (max-width: 480px) {
  footer h5 {
    font-size: 18px;
  }
}
