.analytics-container {
  background-color: rgba(33, 37, 41, 0.05);
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.button-group {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-group .button-primary {
  color: rgba(245, 245, 245, 0.7);
  background-color: #9a4299;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: all 0.4s ease-out;
}

.button-group .button-primary:active {
  background-color: #9a4299 !important;
}

.button-group .button-primary.active {
  background-color: #841983 !important;
}

.button-group .button-primary:hover, .button-group .button-primary:focus {
  color: whitesmoke;
  background-color: #841983;
}

@media (max-width: 480px) {
  .analytics-container {
    padding: 10px;
  }
}
